<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <title>Add an item</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    
</head>
<body>
    

    <h1>Update item</h1>

    <form action="updaterecord/{{ item.id }}" method="post">
        {% csrf_token %}
        Post Date: {{item.post_date}}
        <br>

        Company name:<br>
        <input name="company_name" value="{{item.company_name}}">
        <br>
        
        Price:<br>
        <input name="price" value="{{item.price}}">
        <br>
        
        Description:<br>
        <input name="condition" value="{{item.condition}}">
        <br>
        
        Brand Name:<br>
        <input name="brand_name" value="{{item.brand_name}}">
        <br>
        
        Item Name:<br>
        <input name="item_name" value="{{item.item_name}}">
        <br>	

        <input type="submit" value="Submit">
    </form>
</body>
</html>

